body {
  background: #222;
  font-family: system-ui;
}

.box {
  width: 100px;
  height: 100px;
  /* border-radius: 12px; */
  background: #09f;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;

  div {
    width: 120px;
    height: 120px;
    background: #09f;
  }
}
